*{
    margin: 0px;
    padding: 0px; 
} 

/* header */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}



.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* primary-color */

.r-color{
    color: #FD6E0A;

 }

 
 
 .dakr-3{
    color: #757575;
 }
 .dark-2{
    color: #474747;
 }

 .dakr-1{
    color: #181818;
 }

 .secendry-bg{
    background-color: #FFF8F3;
 }
 

 .btn-primary{
    background-color:  #FD6E0A;
    color: white;
    /* width: 150px;
    height: 64px; */
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border-style: none;
    /* margin-right: 30px; */
 }

 /* primary-font */

 .h-three-font{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
 }

 .bold-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
 }

 .bold-twenty-five{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-top: 20px;

 }
 .versity-p{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
 }

 .versity-ditils-p{
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(207, 202, 202);
 }
    
 



 /* nav style */

 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
 }

 ul li{
    display: inline;
    margin: 51px;
    width: 189px;
    height: 27px;
 }

 .nav-title{
    font-weight: 800;
    font-size: 45px;
    width: 121px;
    height: 61px;
 }

 nav ul li{
    list-style: none;
 }

 nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */

.bannar{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 38px;
}

.banner-name{
    font-weight: bold;
    font-size: 85px;
}

.banner-hi{
    font-weight: semiBold;
    font-size: 45px;
}

.about-my-slf{
    font-weight: regular;
    font-size: 18px;
}


.banner-img{
    width: 584px;
    height: 676px;
}

.about-me{
    width: 585px;
    height: 356px;
   
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* information */

.all{
    border: 1px solid black;
    background-color: #FFFFFF;
    margin: 0%;

    
    
}

.information{
    border-radius: 10px;
    padding: 131px 157px 131px 156px;
    
    margin-top: 94px;
    
}



.ditles{
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.name{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.item-des{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/* i-do */


.i-have{
    font-weight: regular;
    font-size: 18px;
    text-align: center;
  
}

.four-work{
    display: flex;
}

/* resume-summary */



.rs-su-di{
    margin-top: 113px;
    display: flex;
    justify-content: left;
    gap: 130px;
}
.down-load{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

/* footer */
footer{
    background-color: #FFF8F3;
    margin: 113px 0 0 0;
    display: flex;
    padding: 130px 230px;
    gap: 100px;
    
}

.futtr-para{
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.fotter-div-one{
   
  /* justify-content: left;   */
}
#name{
    border-radius: 5px;
    padding: 18px 340px 18px 30px;
    border: 0 solid;
    margin-bottom: 24px;
}

#email{
    border-radius: 5px;
    padding: 18px 350px 18px 30px;
    border: 0 solid
     
}
#Message{
    padding: 18px 365px 134px 30px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 24px;
}










